<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694697625513-9ue47l666bo5k3ulmlonc31gbkchr7qk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694697625513-9ue47l666bo5k3ulmlonc31gbkchr7qk</string>
	<key>API_KEY</key>
	<string>AIzaSyBQMFh51d7YYG9eKAzP6B6sjlBl0sr1iYY</string>
	<key>GCM_SENDER_ID</key>
	<string>694697625513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.app.Connect2Vote</string>
	<key>PROJECT_ID</key>
	<string>simplivote-7f77b</string>
	<key>STORAGE_BUCKET</key>
	<string>simplivote-7f77b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694697625513:ios:afb67e50d495e07168e6b8</string>
</dict>
</plist>